.footer{
    position:fixed;
    bottom: 0;
    height:40px;
    width:100%;
    background-color: #f7f7ff;
    font-weight: bold;
    text-align: center;
    }
    #text{
        margin-top:7px; ;
    }
