<div class="container mb-5 pb-2">
    <div class=" d-flex justify-content-center ">
        <div class="w-50 bg-mutedpt-5 pl-2 mr-5 mt-5 bg-light">
            <span class="mt-2 mr-2"><img
                    src="https://library.kissclipart.com/20180905/kke/kissclipart-banking-clipart-investment-banking-clip-art-a11ec0af8fbedab7.png"
                    height="50" width="40"></span>
            <span class="brand-name ml-3 mt-5">Unified Bank of India</span>
            <div class="mt-3 ">
                <h4>Create Your Unified Bank Online Admin Account</h4>
            </div>
            <div class="mt-4 mx-3">
                <form #adminSetUpForm="ngForm" (ngSubmit)="adminSetUpForm.valid && onSubmit()">
                    <div class="form-row mb-2">
                        <div class=" form-group col-md-12">
                            <label for="employeeId">Employee ID</label>
                            <input ngModel name="employeeId" type="text" class="form-control" placeholder="Employee ID"
                                required minlength="6" maxlength="6" #empId="ngModel" [(ngModel)]="admin.empId">
                            <div class="alert alert-warning" *ngIf="empId.dirty && empId.invalid">
                                Valid Employee ID is required
                            </div>
                        </div>
                    </div>
                    <div class=" form-row">
                    
                        <div class="form-group col-md-12">
                            <label for="password">Password</label>
                            <input ngModel name="password" type="password" class="form-control" id="password"
                                placeholder="Password" required minlength="8" maxlength="20" #password="ngModel"
                                [(ngModel)]="admin.password">
                            <div class="alert alert-warning" *ngIf="password.dirty && password.invalid">
                                Password is required and length is between 8-20.
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="aadharNo">Aadhar Number</label>
                            <input ngModel name="aadharNo" id="aadharNo" type="text" class="form-control" required
                                pattern="[2-9]{1}[0-9]{11}" #adhaarNo="ngModel" [(ngModel)]="admin.adhaarNo">
                            <div class="alert alert-warning" *ngIf="adhaarNo.invalid && adhaarNo.dirty">
                                Invalid AADHAR NO. Requirements- Length: 12, cant't start with 0 or 1. <br> Example:
                                201234567893
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="phoneNumber">Phone Number</label>
                            <input ngModel name="phoneNumber" id="phoneNumber" type="number" class="form-control" required
                                pattern="^[7-9]{1}[0-9]{9}$" #phoneNo="ngModel" [(ngModel)]="admin.phoneNo">
                            <div class="alert alert-warning" *ngIf="phoneNo.dirty && phoneNo.invalid">
                                Invalid Phone Number. Type in correct Phone Number having 10 digits.
                            </div>
                    </div>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="adminSetUpForm.invalid">Set up</button>
                </form>
            </div>
        </div>
    </div>
</div>