<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-sm-6 bg-light mt-3 p-3" style="text-align: center">
            <i class="fas fa-user fa-5x"></i><br><br>
            <h2 class="text-muted">ADMIN SETUP</h2>
            <form action="">
                <div class="form-group">
                    <label for="uid">User ID:</label>
                    <input type="text" class="form-control" placeholder="Enter the User ID" id="uid" name ="uid">
                </div>
                <div class="form-group">
                    <label for="new-pwd">New Password:</label>
                    <input type="password" class="form-control" placeholder="Enter a new password" id="new-pwd" name ="new-pwd">
                </div>

                <div class="form-group mt-2">
                    <label for="con-pwd">Confirm New Password:</label>
                    <input type="password" class="form-control" placeholder="ENter to confirm password"
                    name ="con-pwd" id="con-pwd">
                </div>
                <button type="submit" class="btn btn-primary mt-4">CONFIRM</button>
                <button type="reset" class="btn btn-secondary mt-4">RESET</button>
            </form>
        </div>
    </div>
</div>
