<div class="container col-sm-9 mr-2 mt-3 ">
    <h3 style="text-align: center;">Account Details</h3>
    <table class="table">
        <tr>
            <th>Account Number: </th>
            <td>{{account.accNo}}</td>
        </tr>
        <tr>
            <th>Account Type: </th>
            <td>{{account.accType}}</td>
        </tr>
        <tr>
            <th>Account Balance: </th>
            <td>{{account.balance}}</td>
        </tr>
        <tr>
            <th>IFSC Code: </th>
            <td>{{account.ifscCode}}</td>
        </tr>
        <tr>
            <th>Adhaar Number: </th>
            <td>{{account.adhaarNumber}}</td>
        </tr>
        <tr>
            <th>Phone Number Number: </th>
            <td>{{account.phoneNumber}}</td>
        </tr>
        <tr>
            <th>Introducer Account Number: </th>
            <td>{{account.introducerAccountNo}}
            </td>
        </tr>
        <tr>
            <th>Nominee Aadhar Number: </th>
            <td>{{account.nomineeAdhaarNo}}</td>
        </tr>

    </table>
</div>